<nav>
<span>
<%= link_to "Home", home_path%>
|
<%= link_to "About", about_path%>
|
 <%= link_to 'Bill Splitter', bill_splitter_path, class: 'nav-item' %>
 |
 <%= link_to 'Tags', tags_path, class: 'nav-item' %>
|
 <%= link_to "Favoured Products", favourites_path, class: 'nav-item'  %>
 |
 <%= link_to 'Products', products_path, class: 'nav-item' %>
 |
 <%= link_to 'New Product', new_product_path, class: 'nav-item' %>
 |
 <%= link_to 'Contact Us', contact_us_path, class: 'nav-item' %>
 |
        <% if user_signed_in? %>
        <% if current_user.is_admin? %>
        <%= link_to 'Admin dashboard', admin_index_path, class: 'nav-item' %>
        |
        <% end %>


        Hello <%= current_user.full_name %> | 
        <%= link_to "Logout", session_path, method: :delete,
        data: {confirm: 'Are you sure you want to log out?'}
        %>
        <% else %>
        <%= link_to "Login", new_session_path %> |
        <%= link_to "Sign Up", new_user_path %>
        <% end %>

       

        
       
        
</span>
</nav>