<h3><%=@product.title%></h3>
<p><%= @product.description %></p>
<p><%= number_to_currency(@product.price) %></p>
<p><%=  number_to_currency(@product.sale_price)%></p>
<small>
<p>Created by: <%= @product.user&.full_name%></p>
<p>Created On: <%= time_ago_in_words(@product.created_at)  %> </p>
</small>
<small>
<p>Last Updated On: <%= time_ago_in_words(@product.updated_at)  %> </p>
</small>
<small>
    <%= link_to("Edit", edit_product_path(@product.id))%> | 
    <%= link_to("Delete",product_path(@product.id),method: :delete,data:{confirm: "Are you sure to delete this product?"})%>
</small>


<h2 class ="mt-">Please Leave a Review below</h2>
<div class='shadow-sm p-3 mb-5 bg-white round'>
    <%= form_with model: [@product, @review], local: true do |f| %>
    <ul>
<% if @review.errors.full_messages.each do |msg|%>
    <li>
    <%= msg%>
   
    </li>
</ul>
<%end%>
<%end%>
        <div class='form-group'>
            <%= f.label :rating %>
            <%= f.select(:rating, options_for_select(1..5), class: 'form-control' )%>
        </div>
        <div class='form-group'>
            <%= f.label :body %>
            <%= f.text_area(:body, class: 'form-control', placeholder: 'Your thoughts here' )%>
        </div>
        <%= f.submit class: 'btn btn-primary'%>
        <% end %>
</div>

<h2> Here's what people are saying: </h2>

<%# to show the ratings  %>
<h3>Reviews</h3>
<% @reviews.each do |review|%>

<% if review.hide == false || (can? :crud, @product)%>
    <% if review.hide == false%>
        <div class="card">
        <p class="card-body">
        <%= review.body %>
        <p class="ml-4"> Rating:</p>
        <h4 class="ml-4">
        


    <% else review.hide == true%>
        <div class="card text-muted">
        <p class="card-body">
        <%= review.body %>
        <p class="ml-4"> Rating:</p>
        <h4 class="ml-4">



        
    <%end%>
    <%= display_stars(review) %></h4>

   <p>
      <% if user_signed_in?  && can?(:like, review)%>
          <% like = current_user.likes.find_by_review_id(review) %>
          <% if like %>
            <%= link_to 'Unlike', product_review_like_path(@product, review, like), method: :delete %>
          <% else %>
            <%= link_to 'Like', product_review_likes_path(@product, review, like), method: :post %>
          <% end %>
      <% end %>
     <%= review.likes.count%> likes
    </p>


    <% if can? :crud, @product %>
        <small>
        <%if review.hide == false%>
            <%= form_with model: [@product, review], :class=>"form-group ml-4", local: true do |form| %>
            <%= form.submit label_tag="Hide Review"%>
            <%end%>
            </small>
            <%end%>
        <%if review.hide == true%>
            <%= form_with model: [@product, review], :class=>"form-group ml-4", local: true do |form| %>
            <%= form.submit label_tag="UnHide Review"%>
            <%end%>
        </small>
    <%end%>
<%end%>
<div class=ml-4>
    Reviewed by:
    <%= review.user&.full_name || "DELETED" %>
</div>
<% if can? :crud, review %>
<p class="ml-4"><%= link_to "Delete",product_review_path(@product,review), method: :delete,data: {confirm: "Are you sure?"} %>
</p>
<%end%>
</p>
</p>
</div>
<br/>
<% end %> 
<%end%>



